table.history {
  width: 75%;
  margin: 0 auto;
  border: 2px solid black;
  border-collapse: collapse;
}
table.history td,
table.history th {
  padding: 5px;
}
table.history tr td:not(:first-child) {
  text-align: center;
}
table.history thead tr {
  background-color: black;
  color: white;
}
table.history tbody td:last-child {
  color: red;
  text-align: right;
  cursor: pointer;
}
table.history tbody td:last-child:hover {
  text-decoration: underline;
}
table.history tbody tr:nth-child(2n) {
  background-color: #111;
}
table.history tbody tr:hover {
  background-color: #ccc;
  color: black;
}
@media only screen and (max-width: 500px) {
  table.history {
    font-size: 0.8rem;
  }
  table.history tbody th:nth-child(1) {
    display: contents;
  }
}
@media only screen and (max-width: 400px) {
  table.history {
    font-size: 0.7rem;
  }
  table.history tbody th:nth-child(1) {
    display: contents;
  }
}
.outcome-modal {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background-color: var(--modalout);
}
.outcome-modal.outcome-show {
  display: block;
}
.outcome-modal .outcome {
  position: relative;
  background-color: var(--modalin);
  margin: auto;
  margin-top: 50px;
  width: 50%;
  padding: 0 15px 15px 15px;
}
.crossed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.historyFilter {
  position: absolute;
  text-align: center;
  user-select: none;
  left: 5px;
  top: 10px;
  width: 10%;
}
.historyFilter > div {
  clear: both;
  width: 60%;
  margin: 0 auto;
}
.historyFilter > div > label {
  float: left;
}
.historyFilter > div > input {
  float: right;
}
@media only screen and (max-width: 1500px) {
  .historyFilter {
    position: static;
    margin: 0 auto;
    width: 50%;
  }
}
@media only screen and (max-width: 1100px) {
  .historyFilter {
    width: 75%;
  }
}
@media only screen and (max-width: 700px) {
  .historyFilter {
    width: max(140px, 100%);
  }
}
.historyFilterButton {
  padding: 5px;
  margin: 10px auto;
  width: 70%;
  border: 0px;
  background-color: var(--modalin);
  display: block;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 1px 1px var(--modalout);
}
.historyFilterButton:active {
  border: 1px solid black;
  box-shadow: 0px 0px 1px 1px inset black;
  transform: translate(1px, 1px);
}
