.settings {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: var(--modalout);
}
@media only screen and (max-width: 400px) {
  .settings {
    overflow-y: scroll;
  }
}
.settings .setting-box {
  box-sizing: content-box;
}
.settings .setting-help {
  display: inline;
  font-size: 1em;
}
.settings .settings-content {
  position: relative;
  background-color: var(--modalin);
  margin: auto;
  margin-top: 50px;
  width: 50%;
  padding: 15px;
}
@media only screen and (max-width: 1100px) {
  .settings .settings-content {
    width: 75%;
  }
}
@media only screen and (max-width: 700px) {
  .settings .settings-content {
    width: calc(100% - 60px);
    margin-inline: auto;
  }
}
.settings .settings-content > fieldset {
  border: none;
  margin: 10px;
  background-color: darkgray;
  color: black;
  border: 1px solid black;
  margin-top: 0;
  user-select: none;
}
.settings .settings-content > fieldset > legend {
  display: block;
  user-select: none;
}
.settings.shown {
  display: block;
}
.export-btns {
  width: fit-content;
  margin-inline: auto;
}
.export-btns > button {
  position: relative;
  right: 0;
  display: inline-block;
  margin-inline: 10px;
}
.export-btns > button:hover,
.export-btns > button:focus {
  background-color: lightblue;
}
.export-final-btns {
  width: fit-content;
  margin-inline: auto;
}
.export-extension > div {
  margin-left: 25px;
  width: fit-content;
}
.export-extension input[type="radio"] {
  float: right;
  margin-left: 20px;
}
.export-extension input[type="checkbox"] {
  float: right;
  margin-left: 20px;
}
@media only screen and (max-width: 280px) {
  .export-extension > div {
    margin-left: 5px;
  }
  .export-extension input[type="radio"] {
    margin-left: 0;
  }
  .export-extension input[type="checkbox"] {
    margin-left: 0;
  }
}
.export-extension br {
  clear: both;
}
.dblogin {
  width: fit-content;
  margin: 0px auto;
}
.dbimport,
.dbexport {
  margin-inline: 10px;
}
.settingsbtn {
  width: fit-content;
  border: 1px solid blue;
  box-shadow: 1px 1px 1px 1px inset lightblue;
  background-color: #ddd;
  border-radius: 90px;
  padding: 2px 15px;
}
.settingsbtn:hover {
  background-color: azure;
}
.settingsbtn:active {
  background-color: lightcyan;
}
.loginbtns {
  user-select: none;
  width: fit-content;
  margin-inline: auto;
  margin-top: 5px;
}
.loginbtns .loginasguest,
.loginbtns .loginbtn {
  margin-inline: 10px;
  display: inline-block;
}
.login-error {
  color: red;
  text-align: center;
  margin-top: 5px;
}
.loginfields {
  display: block;
}
.loginfields .loginfield {
  margin-bottom: 5px;
  border: none;
}
.loginfields .loginfield button {
  cursor: pointer;
  display: block;
  width: 50%;
  padding: 3px 5px;
  margin: 0;
  margin-inline: auto;
  border: none;
  color: white;
  background-color: darkblue;
}
.loginfields .loginfield button[data-guest="guest"] {
  background-color: lightblue;
  color: black;
}
.loginfields .loginfield input[type="text"],
.loginfields .loginfield input[type="password"] {
  border: none;
  display: block;
  width: 50%;
  margin-inline: auto;
  text-align: center;
}
.loginfields .loginfield::after {
  display: block;
  position: relative;
  width: 50%;
  left: 25%;
  height: 1px;
  background-color: blue;
  content: "";
}
