.settings {
    @media only screen and (max-width: 400px) {
        overflow-y: scroll;
    }

    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: var(--modalout);
    .setting-box {
        box-sizing: content-box;
    }
    .setting-help {
        display: inline;
        font-size: 1em;
    }
    .settings-content {
        position: relative;
        background-color: var(--modalin);
        margin: auto;
        margin-top: 50px;
        width: 50%;
        padding: 15px;
        @media only screen and (max-width: 1100px) {
            width: 75%;
        }
        @media only screen and (max-width: 700px) {
            width: calc(100% - 60px);
            margin-inline: auto;
        }
        & > fieldset {
            border: none;
            margin: 10px;
            background-color: darkgray;
            color: black;
            border: 1px solid black;
            margin-top: 0;
            user-select: none;
            & > legend {
                display: block;
                user-select: none;
            }
        }
    }
    &.shown {
        display: block;
    }
}

.export-btns {
    width: fit-content;
    margin-inline: auto;
    & > button {
        position: relative;
        right: 0;
        display: inline-block;
        margin-inline: 10px;
        &:hover,
        &:focus {
            background-color: lightblue;
        }
    }
}

.export-final-btns {
    width: fit-content;
    margin-inline: auto;
}

.export-extension {
    & > div {
        margin-left: 25px;
        width: fit-content;
    }
    & input[type="radio"] {
        float: right;
        margin-left: 20px;
    }
    & input[type="checkbox"] {
        float: right;
        margin-left: 20px;
    }
    @media only screen and (max-width: 280px) {
        & > div {
            margin-left: 5px;
        }
        & input[type="radio"] {
            margin-left: 0;
        }
        & input[type="checkbox"] {
            margin-left: 0;
        }
    }
    & br {
        clear: both;
    }
}

.dblogin {
    width: fit-content;
    margin: 0px auto;
}
.dbimport,
.dbexport {
    margin-inline: 10px;
}

.settingsbtn {
    width: fit-content;
    border: 1px solid blue;
    box-shadow: 1px 1px 1px 1px inset lightblue;
    background-color: #ddd;
    border-radius: 90px;
    padding: 2px 15px;
    &:hover {
        background-color: azure;
    }
    &:active {
        background-color: lightcyan;
    }
}

.loginbtns {
    user-select: none;
    width: fit-content;
    margin-inline: auto;
    margin-top: 5px;
    .loginasguest,
    .loginbtn {
        margin-inline: 10px;
        display: inline-block;
    }
}
.login-error {
    color: red;
    text-align: center;
    margin-top: 5px;
}
@input-space: 5px;
.loginfields {
    display: block;
    .loginfield {
        button {
            cursor: pointer;
            border: none;
            display: block;
            width: 50%;
            margin-inline: auto;
            padding: 3px 5px;
            margin: 0;
            margin-inline: auto;
            border: none;
            color: white;
            background-color: darkblue;
            &[data-guest="guest"] {
                background-color: lightblue;
                color: black;
            }
        }
        margin-bottom: @input-space;
        border: none;
        input[type="text"],
        input[type="password"] {
            border: none;
            display: block;
            width: 50%;
            margin-inline: auto;
            text-align: center;
        }

        &::after {
            display: block;
            position: relative;
            width: 50%;
            left: 25%;
            height: 1px;
            background-color: blue;
            content: "";
        }
    }
}
