#root {
    --modalout: #111c;
    --modalin: #fffa;
}

* {
    font-family: Helvetica, sans-serif, Arial;
    box-sizing: border-box;
}

.navSwitches {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .navSwitch {
        width: 100px;
        padding: 5px 15px;
        margin: 5px;
        background-color: gray;
        border: none;
        transition-duration: 0.1s;
        box-shadow: black 1px 1px 1px 1px;
        &:hover {
            background-color: darkgray;
            box-shadow: black 1px 1px 1px 1px;
            translate: 0 -1px;
        }
        &:active {
            background-color: black;
            color: white;
            translate: 0 2px;
            box-shadow: none;
        }
    }
}

button.crossedSwitch {
    flex: 1;
    padding: 5px;
    margin: 5px;
    background-color: var(--modalout);
    box-shadow: inset 0px 0px 2px 2px white;
    color: white;
    translate: 0px 0px;
    transition-duration: 10ms;
    transition-timing-function: ease-in-out;
    user-select: none;
    &:not(.crossedOut):active {
        translate: 1px 1px;
        box-shadow: inset 0px 0px 3px 3px white;
        background-color: #111c;
        color: white;
        text-decoration: line-through;
    }
    &.unpressed {
        translate: 1px 1px;
        box-shadow: inset 0px 0px 3px 3px white;
        background-color: #111c;
        color: white;
        text-decoration: line-through;
    }
    &.crossedOut {
        background-color: #ccc;
        color: black;
        box-shadow: 1px 1px 1px 1px black;
        translate: -1px -1px;
        > s {
            text-decoration: line-through;
            text-decoration-thickness: 3px;
        }
        &:active {
            translate: 1px 1px;
            box-shadow: inset 0px 0px 3px 3px white;
            background-color: #111c;
            color: white;
            > s {
                text-decoration: none;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    div[data-page="recHis"] * {
        font-size: 2.5vw;
    }
}
